* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    max-width: 1920px;
    height: 80px;
    margin: auto;
}

li {
    list-style: none;
}

.row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    font-size: 19px;
}

#logo-top {
    position: relative;
    top: 5px;
}

#start {
    color: white;
    background-color: #0061FF;
    padding: 8px 15px;
}

.left-ul, .right-ul {
    display: flex;
}

.row-header a {
    text-decoration: none;
    padding-inline: 22px;
    color: black;
}

.hero {
    max-width: 1920px;
    height: 740px;
    margin: auto;
    background-color: #B4D0E7;
}

.hero button{
    font-size: 16px;
}

.hero h1 {
    max-width: 1200px;
    font-size: 76px;
    margin: auto;
    padding-top: 83px;
    padding-bottom: 57px;
}

.row-hero {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.col-left-hero {
    width: calc(( 100% * 2) / 3 );
}

.col-left-hero p {
    font-size: 20px;
    padding-bottom: 30px;
}

.col-left-hero button {
    margin-bottom: 30px;
}

.col-left-hero i {
    padding-top: 3px;
    font-size: 45px;
}
.col-right-hero img {
    max-width: 100%;
}

.body-main {
    max-width: 1000px;
    margin: auto;
}

.body-main h2 {
    font-size: 45px;
    padding-top: 152px;
    padding-bottom: 43px;
}

.radio {
    cursor: pointer;
    padding-bottom: 45px;
}

#spacing {
    padding-right: 40px;
}

.row-body-main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    border: 1px #EDEDEE solid;
    margin-right: -2px;
}

.card100 {
    flex-basis: 100%;
}

.card-main div {
    border: 1px #EDEDEE solid;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
}

.card-main-top {
    padding: 25px;
}

.card-main-top h3 {
    padding-bottom: 20px;
}

.price {
    padding-bottom: 17px;
}

.period {
    padding-bottom: 50px;

}

.card-main ul .pros {
    display: flex;
    gap: 5px;
}

.card-main-top li {
    padding-bottom: 20px;
}

.card-main-top p {
    margin-top: 40px;
    margin-bottom: 40px;
}

.card .button {
    background-color: #0061FF;
    text-decoration: none;
    color: white;
    display: block;
    padding: 9px 0px 10px 0px;
    text-align: center;
}

.highlight {
    margin-top: 45px;
    margin-bottom: 30px;
}

.fa-check {
    color: #0061FF;
}

.card100 {
    border: 1px #EDEDEE solid;

}
.card-header h5 {
    text-align: center;
    padding: 11px;
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px #EDEDEE solid;
}

.body-col100 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-inline: 26px;
    padding-bottom: 31px;
}

.header-col100 {
    border-bottom: 1px #EDEDEE solid;
}

.header-col100 h3 {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding: 11px;
}

.col100-left {
    width: 66%;
}

.col100-left h3 {
    padding-bottom: 24px;
}

.col100-left h4 {
    padding-bottom: 50px;
}

.button {
    background-color: #0061FF;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.sezione-partner {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 163px;

}

.col-left-partner {
    width: calc(( 100% / 5) * 3);  
}

.col-left-partner img {
    aspect-ratio: auto 691 / 591;
    width: 100%;
}

.col-right-partner {
    width: calc((100% / 5 ) *2);
    margin-inline: 50px;
    margin-top: 55px;
}

.col-right-partner h3 {
    font-size: 26px;
}

.col-right-partner p {
    padding: 17px 0px 30px 0px;
    font-size: 18px ;
}

.button-partner {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: 18px;
    padding: 13px 17px 13px 17px;
}

.card-row-business {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 60px;
    margin-bottom: 190px;
}

.card-business {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
}

.card-business h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

.img-business {
    width: 300px;
}

.body-bottom {
    max-width: 1920px;
    margin: auto;
}

.header-clienti {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 125px;
}


.row-clienti {
    max-width: 1920px;
    display: flex;
}

.header-clienti h2 {
    font-size: 45px;
    padding-bottom: 75px;
}

.header-clienti a {
    font-size: 21px;
}

.row-clienti .img-container {
    width: 50%;
    height: 320px;
}

div[class^="loghi-clienti"], .dettaglio-clienti {
    display: flex;
    flex-wrap: wrap;
    width: calc(1920px / 3);
    
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
}

/* .img-container:hover {    HOVER ROTTO
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 20px solid rgba(0, 0, 0, 0.5)
} */

.loghi-clienti-left{
    position: relative;
}

 #designit::after { 
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 20px #2E1632 solid;
} 

div[class^="loghi-clienti"] img {
    width: 166px;
}

.dettaglio-clienti p {
    font-size: 20px
}

.quote::before {
    content: '';
    height: 1px;
    background-color: darkgray;
    width: 108px;
    display: block;
    margin-bottom: 40px;
}

.dettaglio-clienti img {
    width: 270px;
}

/* Colori loghi */
.dettaglio-clienti{
    background-color: #F5F5F5;
    padding-inline: 50px;
}
#designit{
    background-color: #5D2C64;
}
#arizona{
    background-color: #9EF7D4;
}
#florida{
    background-color: #FF6C31;
}
#topps{
    background-color: #00E3E3;
}
#bicycle{
    background-color: #2AFFE0;
}
#hearst{
    background-color: #4B2F18;
}
#lonelupl{
    background-color: #F2DB7E;
}
#clearch{
    background-color: #0027CF;
}


.footer-clienti {
    background-color: #B4D0E7;
}

.container-col-clienti{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    height: 357px;
}

.col-left-clienti{
    width: 50%;
}

.col-left-clienti h2{
    color: #61082B;
    margin: auto;
    font-size: 44px;
}

.col-right-clienti a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 14px 41px 14px 41px;
}

.sezione-faq {
    max-width: 1000px;
    margin: auto;
    padding-top: 165px;
    padding-bottom: 165px;
}

.faq h2{
    font-size: 44px;
    padding-bottom: 50px;
}

.faq > * {
    border-bottom: 1px solid #C5C5C5;
    line-height: 106px;
    position: relative;
}

.faq i {
    position: absolute;
    right: 5%;
    bottom: 50%;
}

footer{
    max-width: 1920px;
    background-color: black;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 106px;
    padding-top: 105px;
}

.footer-pedice button {
    background-color: black;
    color: #939898;
}

.col-footer h4 {
    margin-bottom: 30px;
}

.footer-pedice {
    max-width: 1200px;
    margin: auto;
}
.footer-pedice hr{
    border-color: #939898;
    width: 10%;
}
.col-footer li {
    margin-bottom: 17px;
    font-size: 14px;
}
